#chatbotContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    min-width: 300px;
    max-width: 800px;
}



#chatbotImage {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0 auto;
    border: 5px white ridge;
}

#chatbotText {
    justify-content: center;
    text-align: center;
    background-color: #333333;
    color: white;
    border-bottom: 5px white ridge;
    border-right: 5px white ridge;
    border-left: 5px white ridge;
    height: auto;
    min-height: 5em;
    display: flex;
    align-items: center;
}

#buttonList {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    justify-content: center;
    height: auto;
    min-height: 12em;
}

button {
    border: none;
    margin: 5px;
    padding: 10px;
    width: 33%;
}