#newspaper {
    display: flex;
    flex-direction: column;

    width: 960px;
    margin-bottom: 30px;

    font-family: 'Noto Serif', serif;
    background-color: antiquewhite;
}

#newspaperHeader {
    text-align: center;
}

#newspaperTitle {
    font-size: 6em;
    line-height: 85px;
}

#newspaperContent {
    display: flex;
    flex-direction: row;
}

#articleAndAdd {
    flex-basis: 70%;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
}

#column {
    margin: 0 10px;
}

#add {
    margin: 10px;

    border: black 1px solid;
    text-align: center;

    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#article {
    margin: 15px;
}

#article > p {
    font-size: 20px;
}

hr {
    margin: 2px 5px;
}

@media only screen and (max-width: 800px) {
    #newspaper {
        width: 95%;
    }
    #newspaperTitle {
        font-size: 12vw;
    }
}