#newspaper {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    width: 960px;
    font-family: 'Noto Serif', serif;
}

#newspaperHeader {
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    border: 5px solid black;
    font-family: 'Cinzel', serif;
}

#newspaperContent {
    display: flex;
}

#newspaperArticle, #newspaperColumn {
    border: 2px solid black;
}

#newspaperColumn {
    flex: 0 0 30%;
}

#newspaperArticleWithAdd {
    display: flex;
    flex-direction: column;
}

#newspaperAdd {
    border: 4px dashed black;
    flex-grow: 1;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.newspaper-block {
    margin: 20px;
    padding: 2px;
}

@media only screen and (max-width: 800px) {
    #newspaper {
        width: 95%;
    }
}