.pw-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.pw-box {
    width: 60px;
    height: 60px;
    background-color: white;
    border: 3px solid black;
    color: black;
    border-radius: .2rem;
    margin: 5px;
}

.pw-row:first-child .pw-box {
    font-weight: 700;
    border: 5px solid black;
}

.pw-box.incorrect-character {
    background-color: gray;
}

.pw-box.incorrect-location {
    background-color: gold;
}

.pw-box.correct-location {
    background-color: #00bb00;
}

h1 {
    width: 400px;
    margin: auto;
}

.text-yellow {
    background: gold;
    padding: 0 2px;
    color: black;
}

.text-green {
    background: #00bb00;
    padding: 0 2px;
    color: black;
}